<div class="course-container">
  <!-- Menú de administración -->
  <div class="admin-menu" [class.active]="selectedModule || selectedTopic">
    <h3>Opciones</h3>
    <button (click)="addModule()">Agregar Módulo</button>
    <button *ngIf="selectedModule" (click)="addTopic(selectedModule)">Agregar Topic</button>
    <button *ngIf="selectedTopic" (click)="addSubtopic(selectedTopic)">Agregar Subtopic</button>
    <button *ngIf="selectedModule" (click)="editModule(selectedModule)">Editar Módulo</button>
    <button *ngIf="selectedTopic" (click)="editTopic(selectedTopic)">Editar Topic</button>
    
    <div class="file-uploads">
      <input type="text" [(ngModel)]="externalLink" placeholder="Pegar enlace externo" />

    </div>
  </div>

  <!-- Sección de edición -->
  <div class="editor-section" cdkDropList [cdkDropListData]="selectedCourse?.modules || []" (cdkDropListDropped)="drop($event)">
    <h2>{{ selectedCourse?.title }}</h2>
    <div *ngFor="let module of selectedCourse?.modules; let i = index" cdkDrag>
      <h3>{{ module.title }}</h3>
      <p>ID: {{ module.id }}</p>
      <div *ngFor="let topic of module.topics" cdkDrag class="draggable-module" (click)="selectTopic(topic)">
        <h4>{{ topic.title }}</h4>
      </div>
    </div>
  </div>
  <!-- Sección de organización -->
  <div class="drop-section">
    <h3>Organiza los Módulos</h3>
    <div cdkDropList 
       [cdkDropListData]="selectedCourse?.modules || []"
       (cdkDropListDropped)="drop($event)"
       class="drop-container">
      <div *ngFor="let module of selectedCourse?.modules" cdkDrag class="draggable-module">
        {{ module.title }}
      </div>
    </div>
    
    <!-- Área para eliminar -->
    <div cdkDropList (cdkDropListDropped)="deleteDrop($event)" class="delete-zone">
      🗑️ Arrastra aquí para eliminar
    </div>
    </div>
 

