@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// Container
.course-content-container {
  display: grid;
  grid-template-columns: 2.8fr 1fr;
  margin: 1%;
  gap: 10px;
  font-family: "inter";
}

// left section (Content material)
.content-material {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  height: 70vh;
  background-image: url("/assets/students-dashboard-imgs/content-background.png.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.content-material h1,
.content-material h2 {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-image {
  height: 70vh;
}

.content-video {
  width: 100%;
  height: 100%;
}

// Content options
.content-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  background-color: #d7dadb;
}

.content-options-buttons {
  cursor: pointer;
  border: 0px;
  padding: 10px;
  width: 20%;
  background-color: #d7dadb;
  font-size: larger;
}

.content-options-display {
  display: flex;
  flex-direction: column;
  align-items: start;
}

// Right section (content section)
.course-content-section-sidebar {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid;
  height: 100vh;
  background-color: #d7dadb;
  padding: 5px;
}

.course-title {
  background-color: #d7dadb;
  font-size: large;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.toggle-arrow {
  width: 4%;
  position: absolute;
  right: 10px;
  top: 35%;
}

.course-content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8f1c;
  color: white;
}

.content-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-buttons {
  background-color: #d7dadb;
  cursor: pointer;
  border: 1px solid;
  padding: 15px;
  font-size: medium;
}

.sidebar-buttons:hover {
  background-color: #e2e2e2;
  font-weight: 600;
}
