@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 3px;
}

.course-title {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  font-size: 2em;
}

// Header & button
.course-content-header {
  display: flex;
  justify-content: space-between;

  .go-back-btn {
    background-color: #0076fc;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    margin-right: 100px;
    margin-top: 20px;
    padding: 5px;
    width: 6%;
  }
  @media screen and (max-width: 768px) {
    .go-back-btn {
      height: 20%;
      width: 20%;
    }
  }
  .go-back-btn:hover {
    background-color: #ff9b00;
    color: #fff;
  }
}

// Container
.course-content-container {
  display: grid;
  grid-template-columns: 2.8fr 1fr;
  margin: 10px;
  gap: 10px;
  font-family: "inter";
}

// left section (Content material)

.content-material h1,
.content-material h2 {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-image {
  height: 70vh;
}

.content-video {
  width: 100%;
  height: 100%;
}

// Content options
.content-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  background-color: #d7dadb;
}

.content-options-buttons {
  cursor: pointer;
  border: 0px;
  padding: 10px;
  width: 20%;
  background-color: #d7dadb;
  font-size: larger;
}

.content-options-display {
  display: flex;
  flex-direction: column;
  align-items: start;
}

// Right section (content section)
.course-content-section-sidebar {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid;
  height: auto;
  background-color: #d7dadb;
  padding: 5px;
}

.toggle-arrow {
  width: 4%;
}

.course-content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040087;
  color: #fff;
  font-weight: bolder;
}

.content-options {
  width: 100%;
  border: 1px solid gray;
  display: flex;
  justify-content: flex-start;
  font-size: large;
  border-radius: 5px;
}

.content-options:hover {
  background-color: #818ac4;
  color: #fff;
}

.active-button {
  background-color: #818ac4;
  color: #fff;
}

.unit-introduction {
  font-size: 1.5em;
  font-weight: 600;
}

.sidebar-buttons {
  background-color: #f3ece0;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
}

.sidebar-buttons:hover {
  background-color: #e2e2e2;
}
