<div class="main-content">
    <div class="search-bar">
        <input type="text" placeholder="Buscar cursos...">
        <a href="http://">
        <button type="buscar">Buscar</button>
    </a>
    </div>
    <section #contentCards class="content-cards">
      <div class="card-courses">
        <div class="title">
          <div class="icon">
            <img src="assets/students-dashboard-imgs/fundamentals-nodo.jpg" alt="">
          </div>
          <h3>angular</h3>
        </div>
        <p>Modalidad: Virual</p>
        <p>NODO Program</p>
        <p>$100</p>
        <div class="buttons-container">
          <button class="details-button" >Details</button>
          <button class="buy-button">Buy Course</button>
        </div>
      </div>
      <div class="card-courses">
        <div class="title">
          <div class="icon">
            <img src="assets/students-dashboard-imgs/fundamentals-nodo.jpg" alt="">
          </div>
          <h3>React</h3>
        </div>
        <p>Modalidad: Virual</p>
        <p>NODO Program</p>
        <p>$100</p>
        <div class="buttons-container">
          <button class="details-button" >Details</button>
          <button class="buy-button">Buy Course</button>
        </div>
      </div>
      <div class="card-courses">
        <div class="title">
          <div class="icon">
            <img src="assets/students-dashboard-imgs/fundamentals-nodo.jpg" alt="">
          </div>
          <h3>Data analysis</h3>
        </div>
        <p>Modalidad: Virual</p>
        <p>NODO Program</p>
        <p>$100</p>
        <div class="buttons-container">
          <button class="details-button" >Details</button>
          <button class="buy-button">Buy Course</button>
        </div>
      </div>
      <div class="card-courses">
        <div class="title">
          <div class="icon">
            <img src="assets/students-dashboard-imgs/fundamentals-nodo.jpg" alt="">
          </div>
          <h3>web</h3>
        </div>
        <p>Modalidad: Virual</p>
        <p>NODO Program</p>
        <p>$100</p>
        <div class="buttons-container">
          <button class="details-button" >Details</button>
          <button class="buy-button">Buy Course</button>
        </div>
      </div>
      <div class="card-courses">
        <div class="title">
          <div class="icon">
            <img src="assets/students-dashboard-imgs/fundamentals-nodo.jpg" alt="">
          </div>
          <h3>Fundamentals</h3>
        </div>
        <p>Modalidad: Virual</p>
        <p>NODO Program</p>
        <p>$100</p>
        <div class="buttons-container">
          <button class="details-button" >Details</button>
          <button class="buy-button">Buy Course</button>
        </div>
      </div>
    </section>
</div>
