<div class="main-content">
    <div class="search-bar">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar cursos...">
        <button type="button" (click)="searchCourses(searchTerm)">Buscar</button>
    </div>
    <section class="content-cards">
      <div class="card-courses" *ngFor="let course of courses">
        <div class="title">
          <div class="icon">
            <img [src]="course.imageUrl" [alt]="course.title">
          </div>
          <h3>{{ course.title }}</h3>
        </div>
        <p>Modalidad: {{ course.modality }}</p>
        <p>{{ course.certification }}</p>
        <p>{{ course.price | currency }}</p>
        <div class="buttons-container">
          <button class="details-button">Details</button>
          <button class="buy-button">Buy Course</button>
        </div>
      </div>
    </section>
</div>
