<div class="main-content">
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar cursos...">
    <button type="button" (click)="searchCourses()">Buscar</button>
    <button type="button" class="filter-button" (click)="toggleFilters()">Filtrar</button>
  </div>

<!-- Filtros actualizados -->
<div *ngIf="showFilters" class="filters">

  <label>Modalidad:</label>
  <select [(ngModel)]="selectedModality">
    <option value="">Todas las modalidades</option>
    <option value="Presencial">Presencial</option>
    <option value="Virtual">Virtual</option>
  </select>
</div>
  <section class="content-cards">
    <div class="card-courses" *ngFor="let course of courses">
      <div class="title">
        <div class="icon">
        </div>
        <h3>{{ course.title }}</h3>
      </div>
      <p>Modalidad: {{ course.modality }}</p>
      <p>{{ course.certification }}</p>
      <p>{{ course.price | currency }}</p>
      <div class="buttons-container">
        <button class="details-button">Details</button>
        <button class="buy-button">Buy Course</button>
      </div>
    </div>
  </section>
</div>