// @import "../../../styles.scss";

* {
  margin: 10px;
}

// Header & button
.course-details-header {
  display: flex;
  justify-content: space-between;

  .go-back-btn {
    background-color: #0076fc;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    margin-right: 100px;
    padding: 1px;
    width: 15%;
  }
  @media screen and (max-width: 768px) {
    .go-back-btn {
      height: 20%;
      width: 20%;
    }
  }
  .go-back-btn:hover {
    background-color: #ff9b00;
    color: #fff;
  }
}

h1 {
  // font-family: $titleFont;
  font-size: 30px;
  font-weight: bolder;
}

.courses-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
  .courses-details-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.course-details-img {
  display: flex;
  justify-content: center;
  width: 70%;
}

.course-details-img:hover {
  // @include grow();
}

// course info
.course-details-name {
  color: (--text-color);
  display: flex;
  font-size: 2em;
  justify-content: center;
  width: 70%;
}

.course-details-info {
  display: flex;
  flex-direction: column;
  // font-family: $titleFont;
  font-weight: bolder;
  font-size: large;
  justify-content: flex-start;
}

.description-label {
  font-weight: 600;
  font-size: medium;
  color: #50ab7f;
  margin-bottom: 1px;
}

.course-description {
  font-weight: 600;
  font-size: 1em;
}

.course-price {
  background-color: #ff8f1c;
  display: flex;
  width: 30%;
  padding: 5px;
  justify-content: center;
  font-size: large;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #000000;
  border-radius: 10px;
  font-weight: 500;
}

.course-price:hover {
  background-color: #fff;
  color: #50ab7f;
}

// Course content list
.course-content-list {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: large;
  justify-content: flex-start;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.list-content {
  font-weight: 500;
}

// Course details button
.course-details-buttons {
  display: flex;
  justify-content: center;
}

.buy-buttons {
  margin-top: 10%;
  height: auto;
  width: auto;
  color: #040087;
  font-weight: bolder;
  font-size: 1.4em;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;

  @media screen and (max-width: 768px) {
    height: auto;
    width: 50%;
  }
  @media screen and (max-width: 1300px) {
    height: auto;
    width: 50%;
  }
  @media screen and (max-width: 700px) {
    height: auto;
    width: 50%;
  }
}

.buy-buttons:hover {
  background-color: #00d5aa;
}
