nav {
    background-color: var(--bg-color-card); // #001f3f; /* Azul oscuro */
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    // font-family: Arial, sans-serif;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.contentOpcion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.menuNav{
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.DivImg{
  width: 6%;
}

.menuNav img {
  min-width: 80%;
}

.menuNav:hover{
  background-color: rgb(3, 69, 84); /* Azul oscuro */
  padding: 0.5% 2%;
  border-radius: 20px;
  color: #fff;
}

.darkHome{
  display: none;
}

.darkOpenHome{
  display: block;

}

.lightCloseHome{
  display: none;
}

@media (max-width: 768px) {
  nav{
    flex-direction: column;
  }

  .contentOpcion{
    width: 100%;
  }
}

