<h1 style="color: #000000;">Get more courses!</h1>
<hr>
<h2>courses available</h2>

<section>
  <ul class="courses-cards">
    <li class="courses-available" *ngFor="let course of moreCourses">
      <div class="img-container">
        <img class="technologies-images" [src]="course.img" alt="{{ course.name }}">
        <h1 class="course-name">
          {{ course.name }}
        </h1>
      </div>
      <h3 class="course-details">Modality: {{ course.modality }}</h3>
      <h4 class="course-details">{{ course.type_of_course }}</h4>
      <div class="buttons-container">
        <button [routerLink]="['/courses-details', course.id]" class="details-button">
          Details
        </button>
        <button class="buy-button">Buy Course</button>
      </div>
    </li>
  </ul>
</section>