// @import "../../students-dashboard/more-courses/more-courses.component.global.scss";

// * {
//   margin: 10px;
// }

// @keyframes grow {
//   from {
//     transform: scale(1);
//   }
//   to {
//     transform: scale(1.1);
//   }
// }

// .courses-cards {
//   display: grid;
//   grid-template-columns: repeat(3, minmax(200px, 1fr));
//   padding: 40px;
// }

// .courses-available:hover {
//   @include grow();
// }

// .courses-available {
//   align-items: flex-start;
//   background-color: #fff;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   border-radius: 30px;
//   border: 1px solid #000000;
//   display: flex;
//   flex-direction: column;
//   height: 74%;
//   padding: 4%;
//   width: 80%;
// }

// .courses-available-title {
//   color: var(--text-color);
//   font-size: larger;
//   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
// }

// .logo-container {
//   align-items: center;
//   background-color: #f3ece0;
//   border-radius: 50%;
//   border: 1px solid;
//   display: flex;
//   flex-direction: row;
//   gap: 10px;
//   height: 10vh;
//   width: 18%;
// }

// .technologies-images {
//   height: 65%;
//   width: 80%;
// }

// h1,
// h2,
// h3,
// h4 {
//   color: var(--text-color);
//   font-family: $titleFont;
//   font-size: 40px;
//   font-weight: bolder;
// }

// .course-details {
//   align-items: flex-end;
//   display: flex;
//   flex-direction: row;
//   font-size: 20px;
//   justify-content: flex-end;
//   padding-left: 10px;
//   text-shadow: 2px 2px 4px rgb(150, 200, 200);
// }

// // Buttons
// .buttons-container {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   width: 100%;
// }

// .details-button {
//   background-color: #1673ff;
//   border-radius: 4px;
//   border: none;
//   color: #fff;
//   cursor: pointer;
//   font-family: $titleFont;
//   font-size: large;
//   font-weight: 600;
//   padding: 7px;
// }

// .buy-button {
//   background-color: #ff8f1c;
//   border-radius: 4px;
//   border: none;
//   color: #fff;
//   cursor: pointer;
//   font-family: $titleFont;
//   font-size: large;
//   font-weight: 600;
//   padding: 7px;
// }

// .details-button:hover {
//   background-color: #00bcf0;
// }

// .buy-button:hover {
//   background-color: #ff9b00;
// }

// //Media Query
// @media (max-width: 1024px) {
//   .courses-cards {
//     display: grid;
//     grid-template-columns: repeat(2, minmax(200px, 1fr));
//   }
//   .courses-available {
//     height: 80%;
//   }
//   .logo-container {
//     width: 25%;
//   }
// }

// @media (max-width: 768px) {
//   .courses-cards {
//     display: grid;
//     grid-template-columns: repeat(2, minmax(200px, 1fr));
//   }
//   .courses-available {
//     height: 80%;
//   }
//   .logo-container {
//     width: 30%;
//   }
// }
