<!-- <footer> -->
  <div class="footer" >
    <div class="section">
      <h4>Sobre Nosotros</h4>
      <div>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
        <a href="#">Ayuda</a>
      </div>
    </div>
    <div class="section">
      <h4>Síguenos en</h4>
      <div>
        <a href="https://www.facebook.com/universidadeafit/?locale=es_LA" target="_blank">Facebook</a>
        <a href="https://www.instagram.com/eafit/?hl=es" target="_blank">Instagram</a>
        <a href="https://x.com/EAFIT?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">X</a>
        
      </div>
    </div>
    <div class="section">
      <h4>Contáctanos</h4>
      <div>
        <a href="https://www.facebook.com/universidadeafit/?locale=es_LA" target="_blank">Facebook</a>
        <a href="https://www.instagram.com/eafit/?hl=es" target="_blank">Instagram</a>
        <a href="https://x.com/EAFIT?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">X</a>
        
      </div>
    </div>
  </div>
  <div class="derechos">
    <p>&copy; 2025 OMEGA. Todos los derechos reservados.</p>
  </div>
<!-- </footer> -->
