<!-- <footer> -->
  <div class="footer" >
    <div class="section">
      <h4>Sobre Nosotros</h4>
      <div>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
        <a href="#">Ayuda</a>
      </div>
    </div>
    <div class="section">
      <h4>Síguenos en</h4>
      <div>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
      </div>
    </div>
    <div class="section">
      <h4>Contactanos</h4>
      <div>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
      </div>
    </div>
  </div>
  <div class="derechos">
    <p>&copy; 2025 OMEGA. Todos los derechos reservados.</p>
  </div>
<!-- </footer> -->
