<form (submit)="agregarCurso()">
    <input type="text" [(ngModel)]="nuevoCurso.titulo" placeholder="Título" required>
    <select [(ngModel)]="nuevoCurso.modalidad" required>
        <option value="Presencial">Presencial</option>
        <option value="Virtual">Virtual</option>
    </select>
    <input type="text" [(ngModel)]="nuevoCurso.certificacion" placeholder="Certificación">
    <input type="text" [(ngModel)]="nuevoCurso.duracion" placeholder="Duración">
    <textarea [(ngModel)]="nuevoCurso.descripcion" placeholder="Descripción"></textarea>
    <input type="number" [(ngModel)]="nuevoCurso.valor" placeholder="Valor">
    <button type="submit">Agregar Curso</button>
</form>