  <div #content class="content">
    <div  class="student-profile">
      <div class="profile-header">
        <img src="assets/students-dashboard-imgs/perfil-generico.jpg" alt="Foto de perfil">
        <h2>Nombre del estudiante</h2>
      </div>
      <div class="skills">
        <h3>Habilidades</h3>
        <ul>
          <li>Programación</li>
          <li>Diseño UX/UI</li>
          <li>Analítica de Datos</li>
        </ul>
        <h3>Actividad</h3>
        <p>⌛Tiempo activo: 23H</p>
        <p>🧑‍💻Último acceso: 12/12/2024</p>
        <p>⭐Calificación promedio: 4.5</p>
      </div>
    </div>
  </div>



