<div class="container course-detail-container" *ngIf="courseDetail">
  <div class="row">
    <div class="col-md-12">
      <h1 class="course-title">{{ NombreCurso }}</h1>
    </div>
  </div>

  <div class="row align-items-center progress-bar-container">
    <div class="col-md-6">
      <label>Progreso del curso</label>
      <div class="progress">
        <div class="progress-bar custom-progress-bar progress-text" role="progressbar"
          [style.width.%]="Completado">
          {{ Completado }} %
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Estudiantes</h2>
      <table class="table table-hover student-table">
        <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>CC</th>
            <th>Progreso</th>
            <th>Acomulado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estudiante of Estudiante">
            <td>{{ estudiante.nombre }}</td>
            <td>{{ estudiante.correo }}</td>
            <td>{{ estudiante.cc }}</td>
            <td>
              <div class="progress">
                <div class="progress-bar custom-progress-bar progress-text" role="progressbar"
                  [style.width.%]="estudiante.progreso">
                  {{ estudiante.progreso }} %
                </div>
              </div>
            </td>
            <td class="clickable position-relative">
              <span class="badge badge-custom">{{ calcularNotaFinal(estudiante) | number: '1.1-2' }}</span>
              <button class="ver-notas-btn" (click)="openNotasModal(estudiante)">Ver notas</button>
            </td>
            <td>
              <button (click)="openEditModal(estudiante)" class="btn btn-sm custom-edit-button">
                Editar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal editar Notas -->
  <!-- <div class="modal fade" [class.show]="modalOpen" [class.d-block]="modalOpen" tabindex="-1" role="dialog"
    *ngIf="modalOpen">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" (click)="closeModal()"></button>
          <h3 class="modal-title">Edición de notas</h3>
          <h5 class="modal-title">Estudiante {{ selectedStudent?.nombre }}</h5>
        </div>
        <div class="modal-body">
          <div *ngFor="let nota of selectedStudent?.notas; let i = index">
            <label [for]="'nota-' + i">Calificación {{ i + 1 }}:</label>
            <input type="number" class="form-control" [(ngModel)]="nota.calificacion" [id]="'nota-' + i"
              [name]="'nota-' + i" />
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="saveChanges()" class="btn btn-success">Guardar</button>
          <button (click)="closeModal()" class="btn btn-secondary">Cancelar</button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Modal editar Notas -->
<div class="modal fade" [class.show]="modalOpen" [class.d-block]="modalOpen" tabindex="-1" role="dialog"
*ngIf="modalOpen">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" (click)="closeModal()"></button>
      <h3 class="modal-title">Edición de notas</h3>
      <h5 class="modal-title">Estudiante {{ selectedStudent?.nombre }}</h5>
    </div>
    <div class="modal-body">
      <table class="table table-hover student-table">
        <thead class="table-dark">
          <tr>
            <th>Actividad</th>
            <th>Calificación</th>
            <th>Porcentaje</th>
          </tr>
        </thead>
        <tbody class="modal-edit">
          <tr *ngFor="let nota of selectedStudent?.notas; let i = index">
            <td>
              <input type="text" class="form-control actividad-input" [(ngModel)]="nota.actividad" placeholder="Actividad {{ i + 1 }}">
            </td>
            <td>
              <input type="number" class="form-control calificacion-input" [(ngModel)]="nota.calificacion" min="0" max="5">
            </td>
            <td>
              <!-- <input type="number" class="form-control porcentaje-input" [(ngModel)]="nota.porcentaje" min="1" max="100">
              <span class="percentage-symbol">%</span> -->
              <div class="porcentaje-wrapper">
                <input type="number" class="form-control porcentaje-input" [(ngModel)]="nota.porcentaje" min="1" max="100">
                <span class="percentage-symbol">%</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button (click)="saveChanges()" class="btn btn-success">Guardar</button>
      <button (click)="closeModal()" class="btn btn-secondary">Cancelar</button>
    </div>
  </div>
</div>
</div>


  <!--Modal para ver Notas -->
  <div class="modal fade" [class.show]="ModalOpenNotas" [class.d-block]="ModalOpenNotas" tabindex="-1" role="dialog"
    *ngIf="ModalOpenNotas">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" (click)="closeModal()"></button>
          <h3 class="modal-title">Notas</h3>
          <h5 class="modal-title">Estudiante {{ selectedStudent?.nombre }}</h5>
        </div>
        <div class="modal-body">
          <table class="table table-hover student-table">
            <thead class="table-dark">
              <tr>
                <th>Actividad</th>
                <th>Calificación</th>
                <th>Porcentaje</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nota of selectedStudent?.notas">
                <td></td>
                <td>{{ nota.calificacion }}</td>
                <td>{{ nota.porcentaje }}%</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" class="btn btn-secondary">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>