/* Estilos para el contenedor del medio */
.content{
  margin-left: 120px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px;
  transition: margin-left 0.8s ease;
}
