.full-width {
    width: 100%;
  }
  
  .drop-area {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .drop-area p {
    margin: 0;
    font-size: 14px;
  }