@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.menu-section {
  display: flex;
  background-color:#f3ece0;;
  width: 100%;
  gap: 25px;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bubble {
  border: none;
  background: #0076fc;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: white;
}

.bubble:hover,
.bubble.active {
  background: #ff9b00;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f5f5f5;
    width: 80%;
}

h1{
    font-family: "Inter", sans-serif;
    color: #040087;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    text-transform: uppercase;
}

table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    font-size: 1.2em;
    font-family: "inter", sans-serif;
    table-layout: fixed;
}

th{
    background-color: #ff9b00;
    color: white;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase
}
td
{
    background-color: #f3ece0;
    padding: 8px;
    text-align: center;
    border-bottom: solid 1px #ddd;
}
