<div class="container">
  <nav class="menu-section">
    <button class="bubble">Mis notas</button>
    <button class="bubble">Histórico</button>
    <button class="bubble">Promedios</button>
  </nav>
<h1>Calificaciones</h1>
<table class="table">
  <thead>
  <tr>
    <th>Curso</th>
    <th>Concepto</th>
    <th>Fecha</th>
    <th>Calificación</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fundamentals</td>
      <td>Exámen</td>
      <td>01/01/2025</td>
      <td>4.5</td>
      <td>Aprobado</td>
    </tr>
    <tr>
      <td>Fundamentals</td>
      <td>Taller</td>
      <td>01/01/2025</td>
      <td>5.0</td>
      <td>Aprobado</td>
    </tr>
    <tr>
      <td>Fundamentals</td>
      <td>Seguimiento</td>
      <td>01/01/2025</td>
      <td>4.2</td>
      <td>Aprobado</td>
    </tr>
    <tr>
      <td>Fundamentals</td>
      <td>Actividad</td>
      <td>01/01/2025</td>
      <td>4.0</td>
      <td>Aprobado</td>
    </tr>
    <tr>
      <td>Fundamentals</td>
      <td>Exámen</td>
      <td>01/01/2025</td>
      <td>4.7</td>
      <td>Aprobado</td>
    </tr>
  </tbody>
  </table>
</div>
