*{
  box-sizing: border-box;
}

h1{ font-size: 3,5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{ font-size: 3,5em;}
h3{ font-size: 2em;}
p{ font-size: 1,25em ;}

.welcome-section{
  background-color: #f2f3f2;
}
