@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/*
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}*/
/*
body {
  font-family: "Inter", sans-serif;
}*/

header {
  margin: 0;
}

.welcome-section {
  display: grid;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #f3ece0;
  padding: 3em;
  max-width: 100%;
  text-align: center;
}

h1 {
  font-size: 5em;
  font-weight: 700;
  color: #040087;
}

h2 {
  font-size: 2.5em;
  font-weight: 400;
  color: #000000;
}

.menu-section {
  display: flex;
  gap: 25px;
  padding: 10px;
  background-color: #f2f3f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bubble {
  border: none;
  background: #0076fc;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: white;
}

.bubble:hover,
.bubble.active {
  background: #ff9b00;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn{
  border: none;
  background: #0076fc;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: white;
}

.btn:hover,
.btn.active {
  background: #ff9b00;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  align-items: flex-start;
}


.courses-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Se adaptan al ancho */
  gap: 20px; /* Espaciado entre tarjetas */
  padding: 20px;

}

.course-card {
  background: white;
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  overflow: hidden; /* Evita que la imagen sobresalga */
  transition: transform 0.3s ease-in-out;
}

.course-card:hover {
  transform: translateY(-5px); /* Efecto al pasar el mouse */
}

.course-card-img img {
  width: 100%;
  height: 13em; /* Altura de la imagen */
  object-fit: cover; /* Hace que la imagen llene el espacio sin distorsionarse */
  border-radius: 20px 20px 0 0; /* Redondea solo arriba */
}

.course-card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.course-class-title h3 {
  font-size: 18px;
  font-weight: bold;
}

.course-class-title p {
  font-size: 14px;
  color: #666;
}

.student-profile {
  flex: 1;
  margin-left: em; /* Espacio entre las secciones */
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  height: 110vh;
  opacity: 0;
  &.visible {
    opacity: 1;
    transition: opacity 0.5s;
  }
}

.profile{
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  overflow: auto;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.skills {
  margin-top: 20px;
}

.skills h3 {
  font-size: 2em;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  background: #fdd900;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.skills ul li:hover {
  background: #ff9b00;
  color: black;
}

@media (max-width: 768px) {
  .welcome-section {
    padding: 1em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }

  .menu-section {
    flex-direction: column;
    gap: 10px;
  }

  .bubble {
    width: 100%;
    justify-content: center;
  }
}
