<header class="welcome-section">
  <h1>Bienvenido(a)</h1>
  <h2>¡Continuemos aprendiendo!</h2>
</header>

<!--MENÚ DE OPCIONES-->
<nav class="menu-section">
  <button [routerLink]="['/home-student']" routerLinkActivate="active" class="bubble">
    Mis cursos
  </button>
  <button [routerLink]="['/more-courses']" routerLinkActivate="active" class="bubble">
    Otros cursos
  </button>
  <button [routerLink]="['/grades']" routerLinkActivate="active" class="bubble">
    Calificaciones
  </button>
  <button [routerLink]="['/community']" routerLinkActivate="active" class="bubble">
    Comunidad
  </button>
</nav>

<main class="content">
  <div class="main-container">
    <!--LISTA DE CURSOS-->
    <section class="courses-section">
      <div class="course-card">
          <div class="course-card-content">
            <div class="course-class-title">
              <h3>IA PARA TODOS</h3>
              <p>Modalidad: Virual</p>
            </div>
            <div class="back">
              <h3>SOBRE TU CURSO</h3>
              <ul>
                <li>Progreso: 0%</li>
                <li>Tiempo activo: 0H</li>
                <li>Validaciones: 0/10</li>
              </ul>
              <div class="container-btn">
                <button [routerLink]="['/course-content']" class="continue-btn">
                  Continuar curso
                </button>
                <button class="details-btn">Detalles</button>
              </div>
            </div>
          </div>
        </div>


        <div class="course-card">
          <div class="course-card-content">
            <div class="course-class-title">
              <h3>FUNDAMENTALS WEB</h3>
              <p>Modalidad: Virtual</p>
            </div>
            <div class="back">
              <h3>CURSO SIN INICIAR</h3>
              <ul>
                <li>Progreso: 0%</li>
                <li>Tiempo activo: 0 H</li>
                <li>Validaciones: 0/10</li>
              </ul>
              <div class="container-btn">
                <button class="start-btn">Iniciar</button>
                <button class="details-btn">Detalles</button>
              </div>
            </div>
          </div>
        </div>

        <div class="course-card">
          <div class="course-card-content">
            <div class="course-class-title">
              <h3>FRONTEND</h3>
              <p>Modalidad: Bootcamp</p>
            </div>
            <div class="back">
              <h3>CURSO SIN INICIAR</h3>
              <ul>
                <li>Progreso: 0%</li>
                <li>Tiempo activo: 0 H</li>
                <li>Validaciones: 0/33</li>
              </ul>
              <div class="container-btn">
                <button class="start-btn">Iniciar</button>
                <button class="details-btn">Detalles</button>
              </div>
            </div>
          </div>
        </div>


      <div class="course-card">
          <div class="course-card-content">
            <div class="course-class-title">
              <h3>BACKEND</h3>
              <p>Modalidad: Bootcamp</p>
            </div>
            <div class="back">
              <h3>CURSO SIN INICIAR</h3>
              <ul>
                <li>Progreso: 0%</li>
                <li>Tiempo activo: 0 H</li>
                <li>Validaciones: 0/40</li>
              </ul>
              <div class="container-btn">
                <button class="start-btn">Iniciar</button>
                <button class="details-btn">Detalles</button>
              </div>
            </div>
          </div>
        </div>
    </section>
