<header class="welcome-section">
  <h1>Bienvenido(a)</h1>
  <h2>¡Continuemos aprendiendo!</h2>
</header>

<!--MENÚ DE OPCIONES-->
<nav class="menu-section">
  <button [routerLink]="['/home-student']" routerLinkActivate="active" class="bubble">
    Mis cursos
  </button>
  <button [routerLink]="['/more-courses']" routerLinkActivate="active" class="bubble">
    Otros cursos
  </button>
  <button [routerLink]="['/grades']" routerLinkActivate="active" class="bubble">
    Calificaciones
  </button>
  <button [routerLink]="['/community']" routerLinkActivate="active" class="bubble">
    Comunidad
  </button>
</nav>

<main class="content">
  <div class="main-container">
    <!--LISTA DE CURSOS-->
    <section class="courses-section">
      <div class="course-card">
        <div class="course-card-content">
          <div class="course-class-title">
            <h3>IA PARA TODOS</h3>
            <p>Modalidad: Virual</p>
            <div class="container-btn">
              <button [routerLink]="['/course-content']" class="continue-btn">Continuar curso</button>
              <button class="details-btn">Detalles</button>
            </div>
          </div>
        </div>
      </div>


      <div class="course-card">
        <div class="course-card-content">
          <div class="course-class-title">
            <h3>FUNDAMENTALS DATA</h3>
            <p>Modalidad: Virtual</p>
            <div class="container-btn">
              <button class="start-btn">Iniciar</button>
              <button class="details-btn">Detalles</button>
            </div>
          </div>
        </div>
      </div>

      <div class="course-card">
        <div class="course-card-content">
          <div class="course-class-title">
            <h3>FRONTEND</h3>
            <p>Modalidad: Bootcamp</p>
            <div class="container-btn">
              <button class="start-btn">Iniciar</button>
              <button class="details-btn">Detalles</button>
            </div>
          </div>
        </div>
      </div>


      <div class="course-card">
        <div class="course-card-content">
          <div class="course-class-title">
            <h3>BACKEND</h3>
            <p>Modalidad: Bootcamp</p>
            <div class="container-btn">
              <button class="start-btn">Iniciar</button>
              <button class="details-btn">Detalles</button>
            </div>
          </div>
        </div>
      </div>

      <div class="course-card">
        <div class="course-card-content">
          <div class="course-class-title-front">
            <h3>BACKEND</h3>
            <p>Modalidad: Bootcamp</p>

            <div class="course-class-title-back">
              <h3>INFORMACIÓN</h3>
              <p>Progreso: 23.6%</p>
              <p>Tiempo activo: 2H</p>
              <p>Validaciones: 2/10</p>
              <div class="container-btn">
                <button class="start-btn">Iniciar</button>
                <button class="details-btn">Detalles</button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </section>

    <!--PERFIL DEL ESTUDIANTE-->

    <!-- <div class="profile">
      <button (click)="visible =!visible" class="btn">
        {{visible ? 'Cerrar perfil' : 'Abrir perfil'}}
      </button>
      <aside class="student-profile" [class.visible]="visible">
        <div class="profile-header">
          <img src="assets/students-dashboard-imgs/perfil-generico.jpg" alt="Foto de perfil">
          <h2>Nombre del estudiante</h2>
        </div>
        <div class="skills">
          <h3>Habilidades</h3>
          <ul>
            <li>Programación</li>
            <li>Diseño UX/UI</li>
            <li>Analítica de Datos</li>
          </ul>
          <h3>Actividad</h3>
          <p>⌛Tiempo activo: 23H</p>
          <p>🧑‍💻Último acceso: 12/12/2024</p>
          <p>⭐Calificación promedio: 4.5</p>
        </div>
      </aside>
    </div>
  </div>
</main>-->
