@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/*
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}*/
/*
body {
  font-family: "Inter", sans-serif;
}*/

@mixin grow {
  animation: grow 0.3s forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

header {
  margin: 0;
}

.welcome-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 3em;
  max-width: 100%;
  text-align: center;
}

h1 {
  font-size: 5em;
  font-weight: 700;
  color: (--text-color);
}

h2 {
  font-size: 2.5em;
  font-weight: 400;
  color: (--text-color);
}

.menu-section {
  display: flex;
  gap: 35px;
  padding: 10px;
  background-color: var(--bg-color-bubble-section);
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.bubble {
  border: none;
  background-color: var(--bubble-color);
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: var(--bubble-text-color);
}

.bubble:hover,
.bubble.active {
  background: #354985;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  @include grow();
}

.btn {
  border: none;
  background: #0076fc;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: white;
}

.btn:hover,
.btn.active {
  background: #ff9b00;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.continue-btn {
  border: none;
  background: #00aa43;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: white;
}

.continue-btn:hover,
.details-btn.active {
  background: #ff9b00;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.details-btn {
  border: none;
  background: #0076fc;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: white;
}

.details-btn:hover,
.details-btn.active {
  background: #ff9b00;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.start-btn {
  border: none;
  background: #0076fc;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: white;
}

.start-btn:hover,
.details-btn.active {
  background: #ff9b00;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  align-items: flex-start;
}

.courses-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-bottom: 3rem;
}

.course-card {
  background: #001f3f;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  height: 13em;
  perspective: 1000px;
  transform: rotateY(180 "angle");
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card-content {
  padding: 0%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  margin-top: 0px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.course-class-title,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.course-class-title {
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back {
  background-color: #001f3f;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  margin-bottom: 10px;
  padding: 10px;
}

.back h3 {
  font-size: 1.2em;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

.back ul {
  font-size: 14px;
  color: white;
  list-style: none;
  padding: 0;
}

.course-card:hover .course-card-content {
  transform: rotateY(180deg);
}

.course-class-title h3 {
  font-size: 1.2em;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

.course-class-title p {
  font-size: 14px;
  color: #666;
}

.course-card:nth-child(1) .course-class-title {
  background-color: #ffcdd2;
}

.course-card:nth-child(2) .course-class-title {
  background-color: #c8e6c9;
}

.course-card:nth-child(3) .course-class-title {
  background-color: #bbdefb;
}

.course-card:nth-child(4) .course-class-title {
  background-color: #ffecb3;
}

@media (max-width: 768px) {
  .welcome-section {
    padding: 1em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }

  .menu-section {
    flex-direction: column;
    gap: 10px;
  }

  .bubble {
    width: 100%;
    justify-content: center;
  }
}
