@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 10px;
}

.community-title {
  display: flex;
  color: #000;
  font-size: 2em;
  font-weight: 900;
  margin: 10px;
  font-family: "Inter", sans-serif;
}

// Header & button
.community-header {
  display: flex;
  justify-content: space-between;

  .go-back-btn {
    background-color: #0076fc;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    margin-right: 100px;
    padding: 5px;
    width: 6%;
  }
  @media screen and (max-width: 768px) {
    .go-back-btn {
      height: 20%;
      width: 20%;
    }
  }
  .go-back-btn:hover {
    background-color: #ff9b00;
    color: #fff;
  }
}

// Table
table {
  border-collapse: collapse;
  width: 80%;
}

td,
th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.default-pic {
  height: 50px;
}

// Message button
.send-message-btn {
  background-color: #50ab7f;
  border-radius: 10px;
  color: #fff;
  height: 40px;
}

.send-message-btn:hover {
  background-color: #00d5aa;
  color: #000000;
  height: 40px;
}
