
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f4f7fc;
$button-hover: darken($primary-color, 10%);
$border-radius: 8px;

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $background-color;
  text-align: center;

  h2 {
    color: $primary-color;
    margin-bottom: 20px;
    font-size: 28px;
  }

  button {
    width: 200px;
    padding: 12px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: 0.3s;
    
    &:first-of-type {
      background: $primary-color;
      color: white;
    }

    &:last-of-type {
      background: $secondary-color;
      color: white;
    }

    &:hover {
      background: $button-hover;
    }
  }
}


@media (max-width: 480px) {
  .login-container {
    padding: 20px;

    button {
      width: 100%;
    }
  }
}
