.container {
    display: flex;
    position: relative;
    background-color: gray;

    width: 90%;
    height: 100vh;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

}
.container-search{
    position: absolute;
    top: 100px;
}

.container-filter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: antiquewhite;
}
.container-addButton {
    position: absolute;
    top: 100px;
    right: 150px;
    width: auto;    
    border-radius: 8px;
    transition: all 0.2s;

    &:hover {
        scale: 1.02;
    }

    background-color: antiquewhite;
}

.show-user-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    // z-index: 1;
    // background-color: aquamarine;
}
.users-display {
    display: flex;
    width: 80%;
    height: 80%;
    flex-flow: row wrap;
    z-index: 20;
    // background-color:cadetblue;
    overflow-y: auto;
}