<div class="user-form-container">
  <h2>Create New User</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="first_name">First Name</label>
      <input id="first_name" formControlName="first_name">
    </div>

    <div>
      <label for="last_name">Last Name</label>
      <input id="last_name" formControlName="last_name">
    </div>

    <div>
      <label for="user_type">User Type</label>
      <input id="user_type" formControlName="user_type">
    </div>

    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email">
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password">
    </div>

    <button type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>
</div>
