$primary-color:rgb(28, 53, 196);
$background-color: #EAEDEB;
$input-bg: #fff;
$border-radius: 10px;

.signUpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: $primary-color;
    //padding: 20px;
    border-radius: 10px;
}


.signup-box {
    background: var(--bg-color-card);
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.input-group{
  margin: 10% 0;
  height: 40px;
}

.input{
  border-radius: 10px;
  padding-left: 5%;
  border: 1px solid #ccc;
  width: 100%;
}

.btn{
  background-color: var(--bg-color-blue);
  color: #fff;
  width: 100%;
  margin: 5% 0;
}

