.Introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
}
.cta-button, .login-button, .signup-button {
    background-color: #041570;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    //font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    width: 30%;
    text-align: center;
}

.benefits, .testimonials {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.benefit, .testimonial {
    width: 30%;
    margin: 10px;
    background-color: var(--bg-color-card);
    padding: 20px;
    border-radius: 5px;
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

form{
  display: flex;
  flex-direction: column;
  width: 80%;
  //align-items: center;
}

.form-group {
    padding: 10px;
    margin: 10px 0;
    //border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: var(--text-color);
}

.form-group input, .form-group textarea{
  width: 100%;
  border-radius: 10px;
  border: 1.5px solid #041570;
}

.form-group input::placeholder, .form-group textarea::placeholder{
  //color: var(--text-color);
  opacity: 1;
  padding: 10px;
}

.button{
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .benefits, .testimonials{
    flex-direction: column;
    align-items: center;
  }

  .benefit, .testimonial{
    width: 70%;
  }
}

.form-container {
    background-color: white;
    padding:30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}// 

