<aside class="sidebar">
  <div class="logo">
    <h2>Panel Admin</h2> 
  </div>
  <nav>
    <ul>
      <li><a routerLink="/dashboard">Inicio</a></li>
      <li><a routerLink="/cursos">Cursos</a></li>
      <li><a routerLink="/cursos/nuevo">Nuevo Curso</a></li>
      <li><a routerLink="/categorias">Categorías</a></li>
      <li><a routerLink="/usuarios">Usuarios</a></li>
      <li><a routerLink="/soporte">Soporte</a></li>
    </ul>
  </nav>
</aside>
<!-- Rb: Quiero agregar y cambiar las opciones pero sigo sin tener idea de cuales. Podría ser un 'Editar cursos' o algo por el estilo -->