<app-search-bar></app-search-bar>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<p *ngIf="filteredCourses.length === 0" class="no-results">
  No se ha encontrado ningún curso con ese nombre.
</p>

<div class="course-container">
  <div class="course-card" *ngFor="let course of filteredCourses">
    <h3>{{ course.title }}</h3>
    <p><strong>Modalidad:</strong> {{ course.modality }}</p>
    <p><strong>Precio:</strong> {{ course.price | currency:'USD':'symbol':'1.0-2' }}</p>
    <button [routerLink]="['/courses/edit', course.id]">Editar</button>
  </div>
</div>

