<body>
  <div class="login-container">
    <div class="login-box">
      <h2>!Hola!</h2>
      <p>Bienvenido/a de nuevo</p>
      <form>
        <input
          type="email"
          placeholder="Ingresa tu correo electrónico"
          required
        />
        <input type="password" placeholder="Contraseña" required />
        <div class="forgot-password">
          <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
        <button type="submit">Ingresar</button>
      </form>

      <p class="signup">¿Deseas registrarte?</p>
        <a routerLink="/signup" routerLinkActive="active">¡Regístrate ahora!</a>
    </div>
  </div>
</body>
