$primary-color:rgb(28, 53, 196);
$background-color: #EAEDEB;
$input-bg: #fff;
$border-radius: 10px;

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: Arial, sans-serif;
// }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
  background-color: var(--bg-color-card);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 15px;
  color: var(--text-color);
}

.forgot-password a {
  color: var(--color-blue );
  text-decoration: none;
  font-size: 0.9em;
}

button {
  background: var(--bg-color-blue);
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1em;

}

    .signup-link-group {
        a {
            color: #280e99; // Color inicial del enlace
            font-weight: bold;
    
            &:hover {
                color: #5314e6; // Cambia de color al pasar el mouse
                text-decoration: underline; // Agrega subrayado en hover
            }
        }
    }


.signup {
  margin-top: 15px;
  font-size: 0.9em;
}

a {
  color: var(--color-blue );
  text-decoration: none;
}

