// Tema claro
:root,
.light-theme {
  --background-color: #d7dadb;
  --text-color: black;
  --bg-color-card: #edeeee;
  --bg-icon: #fff;
  --text-color-reverse: #fff;
  --card-landig: #001f3f;
  --color-blue: rgb(28, 53, 196);
  --bg-color-blue: rgb(28, 53, 196);
}

// Tema oscuro
.dark-theme {
  --background-color: #000027;
  --text-color: white;
  --bg-color-card: #354985;
  --bg-icon: #222936;
  --text-color-reverse: #000;
  --card-landig: #0080ff;
  --color-blue: rgb(233, 236, 253);
  --bg-color-blue: rgb(28, 53, 196);
}

// $titleFont: "inter";

// @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// @mixin grow {
//   animation: grow 0.3s forwards;
// }

// @keyframes grow {
//   from {
//     transform: scale(1);
//   }
//   to {
//     transform: scale(1.1);
//   }
// }

// html,
// body {
//   height: 100%;
// }
// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }
