<div class="containerMenuSide">
  <div class="menuSide">
    <div class="menuTop">
      <div>
        <img src="/icons-header/menu.svg" alt="">
      </div>
      <div>
        <img src="/icons-header/header.svg" alt="">
      </div>
    </div>
    <div class="menuCenter">
      <div>
        <img src="/icons-header/rocket.svg" alt="">
      </div>
      <div>
        <img src="/icons-header/book.svg" alt="">
      </div>
      <div>
        <img src="/icons-header/question.svg" alt="">
      </div>
      <div>
        <img src="/icons-header/chat.svg" alt="">
      </div>
    </div>
    <div class="menuBottom">
      <div (click)="toggleTheme()">
        <img src="/icons-header/dark.svg" alt="">
      </div>
      <div>
        <img src="/icons-header/user.svg" alt="">
      </div>
    </div>
  </div>
</div>
