.contentMenu{
  position: fixed;
  left: 0;
  min-width: 110px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  var(--background-color);;
}

.menuSide{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color-card);
  border-radius: 20px;
  min-width: 70px;
}

.menuSideOpen{
  margin: 10px;
}

.menuCenter{
  height: 40%;
}

.menuTop, .menuBottom{
  height: 20%;
}

.childrenMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.childrenMenuOpen{
  width: 95%;
}


.elemetMenu{
  background-color: var(--background-color);
  border-radius: 50px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
  //transition:  width 0.8s ease, background-color 0.8s ease, border-radius 0.8s ease;
  overflow: hidden;
}

.elemetMenuOpen{
  background-color: var(--background-color);
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 10px;
  display: flex;
  justify-content:baseline;
  align-items: center;
  height: 50px;
  width: 230px;
  cursor: pointer;
  transition:  width 0.8s ease, background-color 0.8s ease, border-radius 0.8s ease;
}

img{
  width: 28px;
  height: auto;
}


p{
  opacity: 0;
  max-width: 0;
  transition: opacity 0.9s ease, max-width 0.3s ease;
  white-space: nowrap;
}

.textMenuOpen{
  font-family: 'Roboto Serif', serif;
  color:var(--text-color);
  opacity: 1;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: opacity 0.9s ease, max-width 0.3s ease;
}

.dark{
  display: none;
}

.darkOpen{
  display: block;
}

.lightOpen{
  display: none;
}

